# UNITY
/Assets/XR
/Assets/MRTK
/Assets/OpenCVForUnity
/Assets/TextMesh Pro
/BuildARM
/Library
/Temp
/obj
/Logs
/UserSettings
*.pfx

*.sln
/Build
/.vs
*.meta
MixedReality*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.vsconfig
*.csproj